.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5px;
    border: 2px solid #1C6EA4;
}

.navbar__item {
    flex-basis: 50%;
    list-style-type: none;
}